{
%ul
  - input_template.each_pair do |item_key, item|
    %li
      = item_key.to_s
      (
      = item.to_s
      ):
      = input_template_form_fragment(item, item_key.to_s + '[]')
      %# input(type="text" name="#{}[]")
      %br
}
