- warn "starting array"
[
%ul
  - input_template.each do |item|
    %li
      /- warn "label #{item.to_s}"
      /= item.class.to_s
      /\ :
      - warn "fragment for #{item.inspect}"
      = input_template_form_fragment(item, field_name + '[]')
]
