body {
	font-family: Georgia, Times New Roman, Serif;
}

#navbar {
	float: left;
	border-right: 2px solid navy;
	background: #eeeeff;
	padding: .5em;
	margin-right: 1em;
	width: 15em;
}

#content {
	/*float: right;*/
}