body {
	font-family: Georgia, Times New Roman, Serif;
}

#navbar {
	float: left;
	border-right: 2px solid navy;
	background: #eeeeff;
	padding: .5em;
	margin-right: 1em;
	width: 15em;
}

#content {
	float: left;
}

li.nobullet {
	list-style-type: none;
}

ol.rubyarray {
	list-style-type: decimal;
	marker-offset: 0;
}

span.field_class {
	font-style: italic;
}